<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Edit Page</h3>
    <img src="{{img_src}}">

    <form action="/image/{{id}}/black_and_white" method="POST">
        <button type="submit">Black and White</button>
    </form>
    <form action="/image/{{id}}/border" method="POST">
        <button type="submit">Add a Border!</button>
    </form>
<br>
    <form action="/image/{{id}}/revert" method="POST">
        <button type="submit">Revert to original!</button>
    </form>
    <form action="/image/{{id}}/save" method="POST">
        <button type="submit">Save your edits!</button>
    </form>
</body>

</html>