<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show the image</title>
</head>

<body>
    <h3>Renders after image uploads</h3>
    <form action="/image/{{id}}" method="POST">
        <img src="{{img_src}}">
        Photo name:<input type="text" name="photo_name" placeholder="name">
        Photo location:<input type="text" name="photo_location" placeholder="location">
        Camera model:<input type="text" name="photo_model" placeholder="{{model}}">
    </form>
</body>

</html>